.slide-container {
    /* max-width: 1120px; */
    width: 100%;
    /* padding: 40px 0; */
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Shadow on all sides */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:hover .card-img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #842029;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    /* left: none; */
    /* right: 0; */
    right: 26px;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #842029;
}

.overlay::before {
    top: 0;
    left: auto;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
    box-sizing: border-box;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #842029;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.but_view_more {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #842029;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.but_view_more:hover {
    background: #842029;
}

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #842029;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #842029;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #842029;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        top: 95%;
    }
}