.wrapper {
    display: grid;
    /* margin: 200px 90px auto; */
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.wrapper .box {
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
}

.wrapper .box .front-face {
    background: #fff;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.box .front-face .icon {
    height: 80px;
}

.box .front-face .icon i {
    font-size: 65px;
}

.box .front-face span,
.box .back-face span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span {
    background: linear-gradient(-135deg, #b02a37, #842029);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box .back-face {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: linear-gradient(-135deg, #b02a37, #842029);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.box .back-face p {
    margin-top: 10px;
    text-align: justify;
    color: white;
}

.box:hover .back-face {
    opacity: 1;
    transform: rotateX(0deg);
}

.box:hover .front-face {
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}

/* ABOUT CSS  */
.about_gap_list_item:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #5050f4;
    border-radius: 50%;
    left: 0;
    top: 8px;
}

@media (max-width: 480px) {

    .wrapper .box .front-face {
        width: 90%;
    }

    .box .back-face {
        width: 90%;
    }
}